/*Importando fuente Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Variables*/
:root {
  --azul: #fff;
  --blanco: #fff;
  --negro: #fff;
  --marino: #fff;
  --verde: #fff;
}

/*Estilos generales*/
* {
  font-family: "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(
        to right top,
        #000827,
        #001338,
        #001b4b,
        #00215e,
        #002871,
        #023784,
        #024798,
        #0058ac,
        #0073bc,
        #0087a6,
        #009572,
        #069d2d
      );
      background-repeat: no-repeat;
      min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--blanco);
}

#inicio {

}
