<div class="container-fluid pt-5 pb-5" id="acercaDe">
  <div class="container mt-4">
    <div class="row row-acerca">
      <div class="col-md-6">
        <h2 class="titulo display-2">Acerca de Mí</h2>
        <p>
          Soy un desarrollador frontend apasionado con 1 año de experiencia en
          la creación de interfaces de usuario atractivas y funcionales. Mi
          objetivo es combinar mi creatividad con mis habilidades técnicas para
          ofrecer soluciones web de alta calidad.
        </p>
        <p>
          Mi enfoque se centra en el diseño responsive y la experiencia del
          usuario, utilizando tecnologías como HTML, CSS, JavaScript y
          frameworks como Bootstrap y React.js. Estoy constantemente aprendiendo
          y mejorando mis habilidades para mantenerme al día con las últimas
          tendencias en desarrollo web.
        </p>
        <div class="d-flex">
          <a
            target="_blank"
            href="https://alejandro-hrz.netlify.app/"
            class="btn btn-outline-light me-2"
            ><i class="bi bi-briefcase-fill"></i> Portfolio</a
          >
          <a
            target="_blank"
            href="https://github.com/axxving"
            class="btn btn-outline-light"><i class="bi bi-github"></i> GitHub</a
          >
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="/imgs/imgs-acerca/img-acerca.png"
          alt="Imagen de Perfil"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .bi {
    margin-right: 8px;
  }

  .btn-outline-light {
    &:hover {
      box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    }
  }

  .row-acerca {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
