---
interface Props {
  imagen: string;
  titulo: string;
  parrafo: string;
  href: string;
}
const astroProps = Astro.props as Props;
const { imagen, titulo, parrafo, href } = astroProps;
---

<!-- Card Clase 1 -->
<div class="col-md-3 mb-4">
  <div class="card text-center">
    <img src={imagen} class="card-img-top" alt="Imagen Clase 1" />
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">
        {parrafo}
      </p>
      <a href={href} class="btn btn-outline-light">Comenzar</a>
    </div>
  </div>
</div>
