---
import CardClaseUno from "../components/CardsClaseUno.astro";

import dataEjercicios from "../config/dataEjercicios.json";
---

<div class="container-fluid" id="clase01">
  <div class="container">
    <h1 class="text-center mt-5 titulo display-2 mb-4">Desafíos de Clase 01</h1>

    <div class="row">
      {
        dataEjercicios.contenido.map((ejercicios, index) => (
          <CardClaseUno
            titulo={ejercicios.titulo}
            parrafo={ejercicios.parrafo}
            href={ejercicios.href}
          />
        ))
      }
    </div>
  </div>
</div>
