<div class="container-fluid pt-5 pb-5" id="contacto">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="titulo display-2">Contactame</h2>
        <p>
          Si tienes alguna pregunta o deseas más información sobre nuestros
          servicios, no dudes en contactarnos. Estamos aquí para ayudarte.
        </p>
        <p>
          Puedes comunicarte con nosotros a través del siguiente formulario o
          utilizando la información de contacto proporcionada.
        </p>
      </div>
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
