<footer class="container-fluid footer pt-3 pb-3">
  <div class="container text-center">
    <span class="text-white"
      >© 2024 Alura Latam. Todos los derechos reservados.</span
    >
  </div>
</footer>
