<footer class="container-fluid pt-3 pb-3" id="footer">
  <div class="container text-center">
    <span class="text-white"
      >© 2024 Alura Latam. Todos los derechos reservados.</span
    >
  </div>
</footer>

<style>
  #footer {
    background-color: var(--transparente);
    backdrop-filter: blur(10px);
    border-top: 2px solid var(--transparente);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
</style>
