---
import ClaseCard from "../components/ClaseCard.astro";
import dataCard from "../config/dataClases.json";
---

<div class="container-fluid pt-3 pb-3" id="inicio">
  <div class="container mt-5 pt-3">
    <h1 class="text-center titulo-inicio display-2">
      Inmersión dev Alura Latam
    </h1>

    <p class="text-center pb-3">
      Bienvenido a HelpDev. Esta página está diseñada para ayudarte a resolver
      dudas y ofrecerte soluciones a los retos presentados durante el curso.
      ¡Esperamos que encuentres la ayuda que necesitas para avanzar en tu
      aprendizaje!
    </p>

    <div class="row">
      {
        dataCard.datos.map((data, index) => (
          <ClaseCard
            imagen={data.imagen}
            titulo={data.titulo}
            parrafo={data.parrafo}
            href={data.href}
          />
        ))
      }
    </div>
  </div>
</div>

<style>
  .titulo-inicio {
    font-weight: bold;
  }
</style>
