<div class="container-fluid py-5" id="resumen">
  <div class="container mt-5 pt-3">
    <div class="row d-flex align-items-stretch">
      <!-- Card 1 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-right"></i> Declaración del Array 'catalogo'</h5>
            <p class="card-text">
              Aquí se declara un array vacío llamado 'catalogo'. Este array será utilizado para almacenar objetos que representan películas.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-right"></i> Función 'mostrarCatalogo'</h5>
            <p class="card-text">
              Se define una función llamada 'mostrarCatalogo' que muestra el catálogo de películas en la página web. Esta función itera sobre cada película en el catálogo y muestra su imagen y nombre en la página.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-right"></i> Función 'agregarPelicula'</h5>
            <p class="card-text">
              Se define una función llamada 'agregarPelicula' que permite al usuario agregar una nueva película al catálogo. Esta función solicita al usuario que ingrese el nombre y el enlace de la imagen de la película, valida el enlace y agrega la película al catálogo.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-arrow-right"></i> Agregar Películas al Catálogo</h5>
            <p class="card-text">
              Se utiliza un bucle 'while' para permitir al usuario agregar películas al catálogo hasta que decida parar. Después de agregar cada película, se le pregunta al usuario si desea agregar otra película.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Botón "Ver Soluciones" -->
    <div class="row mt-4">
      <div class="col-lg-12 text-center">
        <a  href="/solucionesDesafios" type="button" class="btn btn-outline-light">
          <i class="bi bi-check-circle-fill"></i> Ver Soluciones
        </a>
      </div>
    </div>
  </div>
</div>


<style>
  #resumen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: transparent;
  }
</style>
