<div class="container-fluid py-5" id="resumen">
  <div class="container mt-5 pt-3">
    <div class="row d-flex align-items-stretch">
      <!-- Card 1 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Arreglo para Almacenar Películas
            </h5>
            <p class="card-text">
              Se declara un arreglo llamado 'peliculas' que almacenará objetos
              representando películas.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Función 'agregarPelicula'
            </h5>
            <p class="card-text">
              Define una función que permite agregar una nueva película al
              catálogo. Esta función recibe un objeto 'pelicula' como parámetro
              y lo añade al arreglo 'peliculas'. Luego, llama a la función
              'mostrarPeliculas' para actualizar la visualización en la página.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Función 'obtenerInfoYAgregarPelicula'
            </h5>
            <p class="card-text">
              Define una función que obtiene información sobre una película
              desde la API de The Movie Database y la agrega al catálogo.
              Utiliza el título de la película ingresado por el usuario para
              realizar una solicitud a la API y obtiene los detalles de la
              película, incluido su enlace de imagen y trailer (si está
              disponible). Luego, llama a 'agregarPelicula' para agregar la
              película al catálogo.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Función 'mostrarPeliculas'
            </h5>
            <p class="card-text">
              Define una función que muestra las películas en la página. Esta
              función crea elementos HTML para cada película en el arreglo
              'peliculas' y los añade al DOM. También agrega un evento de clic a
              la imagen de la película para abrir el trailer en una nueva
              pestaña si está disponible.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Botón "Ver Soluciones" -->
    <div class="row mt-4">
      <div class="col-lg-12 text-center">
        <a href="/solucionesDesafios" type="button" class="btn btn-outline-light">
          <i class="bi bi-check-circle-fill"></i> Ver Soluciones
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  #resumen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: transparent;
  }
</style>
