<div class="container-fluid py-5" id="resumen">
  <div class="container mt-5 pt-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Conversión de Moneda a Criptomoneda
            </h5>
            <p class="card-text">
              En esta sección se explica cómo convertir el valor de una moneda
              convencional, como Peso Mexicano, Real Brasileño o Euro, a una
              criptomoneda como Bitcoin, Ethereum o Litecoin.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Elección de Moneda y Criptomoneda
            </h5>
            <p class="card-text">
              Se detalla cómo el usuario puede seleccionar la moneda de origen y
              la criptomoneda de destino para realizar la conversión,
              proporcionando flexibilidad y adaptabilidad según las necesidades
              individuales.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Proceso de Conversión
            </h5>
            <p class="card-text">
              Aquí se explica el proceso paso a paso de cómo se lleva a cabo la
              conversión, desde la entrada de datos por parte del usuario hasta
              el cálculo y la presentación del resultado final en la
              criptomoneda seleccionada.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-arrow-right"></i> Verificación y Feedback
            </h5>
            <p class="card-text">
              Finalmente, se discute la importancia de la verificación de los
              resultados y la retroalimentación proporcionada al usuario,
              garantizando así la precisión y la satisfacción en el proceso de
              conversión de moneda a criptomoneda.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Botón "Ver Soluciones" -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <a
          href="/solucionesDesafios"
          type="button"
          class="btn btn-outline-light"
        >
          <i class="bi bi-check-circle-fill"></i> Ver Soluciones
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  #resumen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    background-color: transparent;
  }
</style>
