---
// Componentes globales
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Componente funcional
import Spinner from "../components/Spinner.astro";
import BotonUp from "../components/BotonUp.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Caracteres -->
    <meta charset="UTF-8" />

    <!-- Autor de la página -->
    <meta name="author" content="TuNombre" />

    <!-- Descripcion de la página -->
    <meta
      name="description"
      content="Repositorio dedicado al almacenamiento de proyectos y ejercicios realizados durante la inmersión en desarrollo de Alura Latam."
    />

    <!-- Palabras clave -->
    <meta
      name="keywords"
      content="Alura Latam, desarrollo de software, proyectos, ejercicios, inmersión, programación"
    />

    <!-- Asegurando responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icono de la página -->
    <link rel="shortcut icon" href="/imgs/icono.png" type="image/x-icon" />

    <!-- Importando bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>

    <!-- Iconos de bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Titulo de la página web -->
    <title>HelpDev | {title}</title>
  </head>
  <body>
    <Spinner />
    <BotonUp />

    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /*Importando fuente Roboto*/
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  /*Variables*/
  :root {
    --gradiente: linear-gradient(
      to right top,
      #000827,
      #001338,
      #001b4b,
      #00215e,
      #002871,
      #023784,
      #024798,
      #0058ac,
      #0073bc,
      #0087a6,
      #009572,
      #069d2d
    );
    --blanco: #fff;
    --negro: #fff;
    --marino: #fff;
    --azul: #00dbd0;
    --transparente: #ffffff28;
  }

  /*Estilos generales*/
  * {
    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: linear-gradient(
      to right top,
      #000827,
      #001338,
      #001b4b,
      #00215e,
      #002871,
      #023784,
      #024798,
      #0058ac,
      #0073bc,
      #0087a6,
      #009572,
      #069d2d
    );
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--blanco) !important;
  }

  .card {
    border: 2px solid var(--transparente);
    background-color: var(--transparente);
    backdrop-filter: blur(20px);
  }

  #inicio,
  #clase01 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
